<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<p><?php echo $this->getMethod()->getTitle() ?></p>
<?php if($this->getInfo()->getAdditionalData()): ?>
    <?php if($this->getPayableTo()): ?>
        <p><strong><?php echo $this->__('Make Check payable to: ') ?></strong><?php echo $this->escapeHtml($this->getPayableTo()) ?></p>
    <?php endif; ?>
    <?php if($this->getMailingAddress()): ?>
        <p><strong><?php echo Mage::helper('payment')->__('Send Check to: ') ?></strong></p>
        <address class="checkmo-mailing-address">
            <?php echo nl2br($this->escapeHtml($this->getMailingAddress())) ?>
        </address>
    <?php endif; ?>
<?php endif; ?>
<?php if($this->getParentBlock() instanceof Mage_Sales_Block_Order_Print): ?>
  <p><strong><?php echo $this->__('Please, note the order number at the back of your Check.') ?></strong></p>
<?php endif; ?>
