<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>

<div class="social">
  <ul class="list-inline">
    <li class="facebook" >
      <a rel="nofollow" target="_blank" title="Rejoignez-nous sur Facebook" href="https://www.facebook.com/pages/Les-Jardins-dAvalon/316942358444507">
        <img src="<?php echo $this->getSkinUrl('images/social/facebook.png') ?>" />
      </a>
    </li>
    <li class="twitter">
      <a rel="nofollow" target="_blank" title="Suivez-nous sur Twitter" href="https://twitter.com/jardinsdavalon">
        <img src="<?php echo $this->getSkinUrl('images/social/twitter.png') ?>" />
      </a>
    </li>
    <li class="pinterest">
      <a rel="nofollow" target="_blank" title="Suivez-nous sur Pinterest" href="http://fr.pinterest.com/jardinsdavalon/">
        <img src="<?php echo $this->getSkinUrl('images/social/pinterest.png') ?>" />
      </a>
    </li>
  </ul>
</div>