<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<ul id="payment_form_<?php echo $this->getMethodCode() ?>" style="display:none">
    <li>
        <div class="input-box">
            <?php if ($this->getMethod()->getPayableTo()): ?>
                <?php echo Mage::helper('payment')->__('<label>Make Check payable to:</label> %s', $this->escapeHtml($this->getMethod()->getPayableTo())) ?><br />
            <?php endif; ?>
            <?php if ($this->getMethod()->getMailingAddress()): ?>
                <label><?php echo Mage::helper('payment')->__('Send Check to:') ?></label>
                <div class="checkmo-mailing-address">
                    <?php echo nl2br($this->escapeHtml($this->getMethod()->getMailingAddress())) ?>
                </div><br/>
            <?php endif; ?>
            <div><label><?php echo $this->__('Please, note the order number at the back of your Check.') ?></label></div>
        </div>
    </li>
</ul>
