<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<img src="<?php echo $this->getSkinUrl('images/payment/CarteBleue.png') ?>" class="v-middle" />
<img src="<?php echo $this->getSkinUrl('images/payment/Visa.png') ?>" class="v-middle" />
<img src="<?php echo $this->getSkinUrl('images/payment/MasterCard.png') ?>" class="v-middle" />
<img src="<?php echo $this->getSkinUrl('images/payment/Americanexpress.png') ?>" class="v-middle" />
<img src="<?php echo $this->getSkinUrl('images/payment/Maestro.png') ?>" class="v-middle" />
<img src="<?php echo $this->getSkinUrl('images/payment/Aurore.png') ?>" class="v-middle" />
<img src="<?php echo $this->getSkinUrl('images/payment/Cofinoga.png') ?>" class="v-middle" />