<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php /* @var $this Mage_Catalog_Block_Product_View_Abstract */?>
<?php $_product = $this->getProduct() ?>

<?php if ($this->displayProductStockStatus()): ?>
    <?php if ($_product->isAvailable()): ?>
        <p class="availability in-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('In stock') ?></span></p>
    <?php else: ?>
        <p class="availability out-of-stock"><?php echo $this->__('Availability:') ?> <span><?php echo $this->__('Out of stock') ?></span></p>
    <?php endif; ?>
<?php endif; ?>
    <?php if($_product->getDiameter() || $_product->getHeight() || $_product->getLength() || $_product->getChainLength() || $_product->getVolume() || $_product->getWidth()) : ?>
    <p class="dimensions">
      <?php if($_product->getHeight()): ?>
      <?php echo $this->__('Height:').' '.$_product->getHeight().$_product->getAttributeText('height_unit'); ?><br/>
      <?php endif; ?>
      <?php if($_product->getWidth()): ?>
      <?php echo $this->__('Width:').' '.$_product->getWidth().$_product->getAttributeText('width_unit'); ?><br/>
      <?php endif; ?>
      <?php if($_product->getLength()): ?>
      <?php echo $this->__('Length:').' '.$_product->getLength().$_product->getAttributeText('length_unit'); ?><br/>
      <?php endif; ?>
      <?php if($_product->getDiameter()): ?>
      <?php echo $this->__('Diameter:').' '.$_product->getDiameter().$_product->getAttributeText('diameter_unit') ?><br/>
      <?php endif; ?>
      <?php if($_product->getVolume()): ?>
      <?php echo $this->__('Volume:').' '.$_product->getVolume().$_product->getAttributeText('volume_unit'); ?><br/>
      <?php endif; ?>
      <?php if($_product->getChainLength()): ?>
      <?php echo $this->__('Chain length:').' '.$_product->getAttributeText('chain_length'); ?>
      <?php endif; ?>
    </p>
    <?php endif; ?>
    <?php if($_product->getMaterial()) : ?>
    <p class="dimensions">
    <?php if(is_array($materials = $_product->getAttributeText('material'))): ?>
      <?php 
      echo $this->__('Materials:').' ';
      $iterator = new CachingIterator(new ArrayIterator($materials));
      foreach($iterator as $material) {
        echo $this->__($material);
        if($iterator->hasNext()) {
          echo ", ";
        }
      }
      ?>
    <?php else: ?>
    <?php echo $this->__('Material:').' '.$this->__($_product->getAttributeText('material')) ?>
    <?php endif; ?>
    </p>
    <?php endif; ?>
    <?php if($_product->getStone()) : ?>
    <p class="dimensions">
      <?php if(is_array($stones = $_product->getAttributeText('stone'))): ?>
        <?php 
        echo $this->__('Stones:').' ';
        $iterator = new CachingIterator(new ArrayIterator($stones));
        foreach($iterator as $stone) {
          echo $this->__($stone);
          if($iterator->hasNext()) {
            echo ", ";
          }
        }
        ?>
      <?php else: ?>
      <?php echo $this->__('Stone:').' '.$this->__($_product->getAttributeText('stone')) ?>
      <?php endif; ?>
    </p>
    <?php endif; ?>
<?php echo $this->getChildHtml('product_type_data_extra') ?>
<?php echo $this->getPriceHtml($_product) ?>
