<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<div class="footer-container">
  <div class="footer">
    <div class="bs-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <?php echo $this->getChildHtml('footer.left') ?>
          </div>
          <div class="col-md-4">
            <?php echo $this->getChildHtml('footer.center') ?>
          </div>
          <div class="col-md-4">
            <?php echo $this->getChildHtml('footer.right') ?>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center copyright">
            <small><?php echo $this->getCopyright() ?></small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
