<?php
/**
 * Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * that is bundled with this package in the file LICENSE_AFL.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 *
 * @category    design
 * @package     ljda_default
 * @copyright   Copyright (c) 2013 Les Jardins d'Avalon (http://www.lesjardinsdavalon.fr)
 * @license     http://opensource.org/licenses/afl-3.0.php  Academic Free License (AFL 3.0)
 */
?>
<?php
$announces = $this->getAnnounces();
$activeImageUrl = $this->getSkinUrl('images/slider/active.png');
$inactiveImageUrl = $this->getSkinUrl('images/slider/inactive.png');

if(count($announces) > 0):
?>
  <div class="announce-carousel">
    <div class="display">
      <?php
        foreach($announces as $announce) {
          /* @var $announce JardinsAvalon_AisleEnd_Model_Announce */
          printf('<span class="item"><a href="%s"><img src="%s" /></a></span>', $announce->getTargetUrl(), $announce->getImageUrl());
        }
      ?>
      <div class="spinner" style="display: none;"></div>
    </div>
    <?php if(count($announces) > 1): ?>
      <div class="controller">
        <a href="" data-carousel="action-backward">
          <div class="left">
            <span class="control-link">
              <img src="<?php echo $this->getSkinUrl('images/slider/arrow-left.png') ?>" />
            </span>
          </div>
        </a>
        <div class="center">
          <?php
          $format = '<a href="#" data-carousel="action-%d"><span class="control-link"><img src="%s" class="viewer-position" /></span></a>';
          for($i=0;$i<count($announces);$i++) {
            if($i === 0) {
              printf($format, $i, $activeImageUrl);
            } else {
              printf($format, $i, $inactiveImageUrl);
            }
          }
          ?>
        </div>
        <a href="" data-carousel="action-forward">
          <div class="right">
            <span class="control-link">
              <img src="<?php echo $this->getSkinUrl('images/slider/arrow-right.png') ?>" />
            </span>
          </div>
        </a>
      </div>
    <?php endif; ?>
  </div>
  <script type="text/javascript">
    Event.observe(window, 'load', function(){
      imageCarousel = new ImageCarousel({
        container: '.announce-carousel',
        activeImage: '<?php echo $activeImageUrl ?>',
        inactiveImage: '<?php echo $inactiveImageUrl ?>'
      });
      imageCarousel.start();
    });
  </script>
<?php endif; ?>