<li class="wide">
    <label for="captcha" class="required"><em>*</em><?php echo Mage::helper('contacts')->__('Captcha') ?></label>
    <div class="input-box">
        <input type="text" name="captcha" id="captcha" title="<?php echo Mage::helper('core')->quoteEscape(Mage::helper('contacts')->__('Captcha')) ?>" class="required-entry input-text" />
    </div>
    <p><?php echo Mage::helper('core')->__('Captcha help') ?></p>
</li>