@import "bootstrap/bootstrap";

@grid-gutter-width:       25px;

@container-desktop:       ((925px + @grid-gutter-width));
@container-tablet:        @container-desktop;
@container-large-desktop: @container-desktop;


/* Bootstrap adapter */

*,
*:before,
*:after {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.bs-wrapper *,
.bs-wrapper *:before,
.bs-wrapper *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.toolbar .pager {
  margin: 0;
}

.pager .pages li > a,
.pager li > span {
  display: inline;
  padding: 0;
  border-width: 0;
}

.pager .pages li > a:hover,
.pager .pages li > a:focus {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
}


.radio,
.checkbox {
  display: inline-block;
}
