body {
    font: 12px/1.55 Arial, Helvetica, sans-serif;
    color: #2f2f2f;
    margin: 0;
    background: #496778 url("../images/bkg_body.gif") 50% 0 repeat-y;
}

.banner {
    margin: 0;
    padding: 0;
}

.main-container {
    background: #fbfaf6 url('../images/bkg_main1.gif') 50% 0 no-repeat;
}

.main {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 25px 25px 80px;
}

.block {
    border: 1px solid #c4c1bc;
    margin: 0 0 15px;
    width: 100%;
}

.block .block-title {
    border-bottom: 1px solid #ddd;
    padding: 2px 9px;
    background: url('../images/bkg_block-title.gif') 0 0 repeat-x;
}

.block .block-title strong {
    display: block;
    font: bold 12px/16px Arial, Helvetica, sans-serif;
    min-height: 16px;
    padding: 1px 0 1px;
    text-transform: uppercase;
    color: #e26703;
}

.block .block-content {
    background: #f8f7f5;
    padding: 5px 9px;
}

.block .block-product {
    text-align: center;
}

.navigation {
    width: 950px;
    margin-left: auto;
    margin-right: auto;
}

.navigation p {
    margin-left: 6px;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
}

.col-main {
    text-align: justify;
    padding: 0 17px;
    width: 475px;
}

.col-left, .col-right {
    width: 195px;
}

.product-name {
    margin: 0;
    font: bold 13px;
}

.product-name a {
    color: #203548;
}