<?php
/**
 * (C) Copyright 2016 Les Jardins d'Avalon
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to license@lesjardinsdavalon.fr so we can send you a copy immediately.
 */

/** @var \JardinsAvalon_Piwik_Block_Tracker $this */
$installPath = Mage::getStoreConfig(JardinsAvalon_Piwik_Helper_Data::XML_PATH_INSTALL);
$siteId = Mage::getStoreConfig(JardinsAvalon_Piwik_Helper_Data::XML_PATH_SITE);

// Append a trailing "/" to the installation path if not present
$installPath = substr($installPath, -strlen($installPath)) === '/' ? $installPath : $installPath . '/';

if(0 === strpos($installPath, 'https:')) {
  $secureInstallPath = $installPath;
  $installPath = str_replace('https:', 'http:', $secureInstallPath);
} else {
  // Prepend protocol if not present
  $installPath = false === strpos('http:', $installPath) ? $installPath : 'http:' . $installPath;
  $secureInstallPath = str_replace('http:', 'https:', $installPath);
}

?>

<!-- Piwik Tracking -->
<script type="text/javascript">
//<![CDATA[
  var _paq = _paq || [];

  <?php echo $this->getCategoryView() ?>
  <?php echo $this->getProductView() ?>
  <?php echo $this->getOrderView() ?>
  <?php echo $this->getCartUpdate() ?>

  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);

  (function() {
    var u="//www.lesjardinsdavalon.fr/stats/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '<?php echo $siteId ?>']);

    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
//]]>
</script>
<noscript>
    <img src="<?php printf('%s/piwik.php?idsite=%srec=1', $secureInstallPath, $siteId) ?>" style="border:0" alt="" />
</noscript>
<!-- End of Piwik Tracking -->
